/* CLASS WORK */
h1{
    /* background-color: red;
    text-align: justify;    */
    /* text-align: justify, center, left, right;    */
}   

/* .vertical-align{
    background-color: yellow;
    text-align: justify;
    width: 400px;
    height: 600px;
    vertical-align: middle;
} */

/* p{
    background-color: black;
    height: 100px;
    text-shadow: -1px -2px 2px rgb(169, 169, 170);
} */

/* p > span{
    background-color: green;
} */


/* p::first-letter{
    color: green;    
}

p::first-line{
    background-color: aqua;
} */


/* p > span{
    background-color: red;
    vertical-align: bottom;
}

a:link {
    text-decoration: none;
    color: green;
}

a:visited{
    background-color: yellow;
    color: yellow;
} */

a{
    text-decoration: none;
    transition: 0.3s ease all;

}

/* a:hover{
    background-color: gray;
    font-size: 24px;
    text-decoration: underline;
}

a:active{
    background-color: yellow;
    font-size: 24px;
} */
/* input{
    transition: 0.3s ease all;
}

input:focus{
    outline: none;
    border: 3px solid rgb(31, 190, 17);
    transform: scale(1.1);
} */
/* --------------------------------------------------------------------------- */
                                       /* ON WORD  */
.para{
    justify-content: center;
    background-color: crimson;
    height: 200px;
    width: 500px;
    border: 2px solid black;
    /* padding-top: 90px; */
    

}
/* .pan{
    background-color: crimson;
    height: 200px;
    width: 500px;
    border: 3px solid black;
    justify-content: center;
} */
.head{
    /* text-shadow: 1px 3px 3px red; */
    text-shadow: -3px -3px 7px red;
}
/* isko kehte hain sudo action jo kisi cheez k muhtaj na ho */
/* p::first-letter{
color: aqua;
}
p::first-line{
    color: aqua;
    }
.link{
    justify-content: center;
} */
a:link{
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
    color: blue;
}
a:visited{
    color: aqua;
}
/* hover is the sudo class */
/* h1:hover{
    background-color: aqua;
    font-size: 28px;
    padding: 20px;
    width: 120px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
} */
h1:active{
    font-size: 29px;
    background-color: yellow;
}
input:focus{
    outline: none;
    border: 4px solid red;
}
input{
    transition: 0.6s ease-out;
}