.bar {
    height: 3px;
    width: 25px;
    background-color: #ecf0f1;
    margin: 4px 0;
    transition: 0.4s;
}
.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000;
    width: 100%;
}

.slider {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Buttons Styling */
.buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.btn {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5%;
    transition: 0.3s;
    margin: 20px;
    margin-top: 100px;
}

.btn:hover {
    background: rgba(0, 0, 0, 0.8);
}

/* Button Position */
#prev {
    position: absolute;
    left: 20px;
}

#next {
    position: absolute;
    right: 20px;
}
