/* BEFORE */
/* before div k ander or content se phle kam krta hy */
/* before m content ki property lagana lazmi hy */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.btn-1{
    width: 140px;
    height: 50px;
    outline: none;
    border: 3px solid gray;

}
/* postions */
/* apni jaga se move hoga koi or iski jaga nhi le sakhta */
